$container-max-widths: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1260px,
  xxl: 1550px
);
$section-padding-lg: 105px;
$section-padding-sm: 70px;
$content-margin-lg: 50px;
$content-margin-sm: 30px;
$font-size-lg: 26px;
$font-size-md: 20px;
$font-size-sm: 16px;